/* VAR */

/* LAYOUT */

body {
  background-color: #e2e2e2;
}

h2 {
  color: blue;
  background-color: yellow;
}

h3 {
  color: blue;
  background-color: yellow;
}

.paragraphs p {
  color: tomato;
  background-color: green;
}

.paragraphs p:first-child,
.paragraphs p:last-child {
  color: yellow;
  background-color: blue;
  font-weight: bold;
}


