/* VAR */

body {
  background-color: #e2e2e2;
}

h1 {
  color: blue;
  background-color: yellow;
}

h2 {
  color: blue;
  background-color: yellow;
}

p {
  font-weight: bold;
  color: tomato;
  background-color: green;
}


