/* VAR */
// Colors
$font_first-color: tomato;
$font_second-color: blue;
// Background colors
$bg_first-color: #e2e2e2;
$bg_second-color: green;
$bg_third-color: yellow;
// Typography
$font_bold: bold;


body {
  background-color: $bg_first-color;
}

h1 {
  color: $font_second-color;
  background-color: $bg_third-color;
}

h2 {
  color: $font_second-color;
  background-color: $bg_third-color;
}

p {
  font-weight: $font_bold;
  color: $font_first-color;
  background-color: $bg_second-color;
}