/* VAR */
// Colors
$first-color: tomato;
$second-color: blue;
$third-color: #e2e2e2;
$fourth-color: green;
$fifth-color: yellow;
// Typography
$font_bold: bold;

/* LAYOUT */
body {
  background-color: $third-color;
}

h2 {
  color: $second-color;
  background-color: $fifth-color;
}

h3 {
  color: $second-color;
  background-color: $fifth-color;
}

.paragraphs p {
  color: $first-color;
  background-color: $fourth-color;
}

.paragraphs {
  p:first-child,
  p:last-child {
    color: $fifth-color;
    background-color: $second-color;
    font-weight: $font_bold;
  }
}